@import 'bourbon';

.answers-list-item {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);

  margin: 1ex 0;

  .title {
    @include flex(1);
  }

  .score {
    width: 50px;
    padding: 0 0.5ex;

    text: {
      align: center;
    }
  }
}
