@import 'bourbon';
@import '../styles/classes';

.primary-nav {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);

  ul {
    @include display(flex);
    @include align-items(stretch);
    @include flex-direction(row);
    @include justify-content(flex-start);

    margin: 0;
    padding: 0;
    list-style: none none;
  }

  li {
    @extend %left-line;

    @include display(flex);
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(flex-start);

    margin: 0;
    padding: 0;
  }

  a, .link {
    display: block;
    padding: 10px 30px;
  }
}