@import 'bourbon';
@import '../styles/variables';

%question-or-answer {
  @include display(flex);
  @include align-items(start);
  @include flex-direction(row);
  @include justify-content(flex-start);

  line-height: 1.3;

  .controls {
    margin: 0 1em 0 0;
    color: #fff;

    text: {
      align: center;
    }

    .score {
      font: {
        size: 2em;
      }
    }

    .vote {
      line-height: 1;
      color: $color-link;
      cursor: pointer;

      font: {
        size: 1.5em;
      }

      &:hover {
        color: $color-link-hover;
      }
    }
  }

  .content {
    @include flex(1);
  }
}

.question-details {
  .question {
    @extend %question-or-answer;

    .favorite {
      color: $color-link;
      cursor: pointer;

      font: {
        size: 1.25em;
      }

      &.is-favorite {
        color: #ff0;
      }

      &:hover {
        color: $color-link-hover;
      }
    }
  }

  .answer {
    @extend %question-or-answer;

    padding: {
      top: 1ex;
    }

    border: {
      top: $border-width $border-style $border-color;
    }

    .controls {
      .check {
        color: #0c0;

        font: {
          size: 2em;
        }
      }
    }
  }
}
