@import '../styles/variables';
@import '../styles/classes';

.user-profile {
  .tabs {
    @extend %clearfix;

    margin: 0;
    padding: 0;
    list-style: none none;

    li {
      float: left;
    }

    a {
      display: block;
      margin: 0 10px 0 0;
      padding: 10px 25px;

      font: {
        weight: bold;
      }

      text: {
        transform: uppercase;
      }

      &.active {
        background: $color-panel;
        color: #fff;
      }
    }
  }
}
